

.navigation{
    display: flex;
}


.navigation a {
    text-decoration: none;
}

.essai{
    width: 50%;
    padding-bottom: 32px;
    border-bottom: 2px solid grey;
}

.essai:hover{
    border-bottom: 2px solid pink;
}